# Searies into data frame

In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame({'Name':['me','you','mosh','mosh','mosh'],'age':[40,20,30,70,120]})

In [6]:
df['Name'].value_counts()

mosh    3
me      1
you     1
Name: Name, dtype: int64

In [7]:
t = df['Name'].value_counts()

In [8]:
my_t = pd.DataFrame({'name':t.index, 'count':t.values})

In [9]:
my_t

   name  count
0  mosh      3
1    me      1
2   you      1